body{
    padding:0;
    margin: 0;
}
.header{
    background-color: black;
    height: 20px;
    width: 305x;
}
.logo{
    float: left;
}
.btn{
    float: right;
    margin: 3px;
    font-size: 3px;
    border: 1px solid black;
    background-color: white;
     
}